---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Platzi',
		url: 'https://platzi.com/profes/anabelisam_/',
		description:
			'En Platzi soy tu profesora de Pensamiento Lógico y PHP.',
		icon: 'simple-icons:platzi',
	},
	{
		title: 'Github',
		url: 'https://github.com/anabelisam',
		description:
			'Encuentra repositorios con ejercicios para que sigas practicando tus habilidades.',
		icon: 'logos:github-octocat',
	},
	{
		title: 'Twitter',
		url: 'https://twitter.com/anabelisam_/',
		description:
			'Aquí opino y comparto cosas que voy aprendiendo, también doy consejos tech.',
		icon: 'logos:twitter',
	},
	{
		title: 'Youtube',
		url: 'https://www.youtube.com/c/anabelisam',
		description:
			'Mis mejores videos de las transmisiones de Twitch están aquí grabadas.',
		icon: 'logos:youtube-icon',
	},
	
	{
		title: 'Twitch',
		url: 'https://www.twitch.tv/anabelisam',
		description:
			'Aquí hablamos de liderazgo, de desarrollo backend y por supuesto, lógica.',
		icon: 'logos:twitch',
	},
	{
		title: 'LinkedIn',
		url: 'www.linkedin.com/in/anabelisam',
		description:
			'Conoce mi red de contactos y mi trayectoria profesional.',
		icon: 'logos:linkedin-icon',
	},	
];
---

<section class="relative">
	<div class="absolute inset-0 bg-primary-50 dark:bg-slate-800 pointer-events-none mb-32" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Canales de contenido online</p>
				<h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
					Descubre mis redes sociales
				</h2>
				<p class="max-w-3xl mx-auto text-center text-xl text-gray-600 dark:text-slate-400">
					En cada canal encontrarás diferente tipo de contenido para seguir aprendiendo
				</p>
			</div>
			<div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 items-start my-12 dark:text-white">
				{
					items.map(({ title, url, description, icon }) => (
						<div class="relative flex flex-col p-6 bg-white dark:bg-slate-900 rounded shadow-xl hover:shadow-lg transition dark:border dark:border-slate-800">
							<div class="flex items-center mb-4">
								<Icon name={icon} class="w-12 h-12" />

								<div class="ml-4 text-xl font-bold"><a href={url} target="_blank">{title}</a></div>
							</div>
							<p class="text-gray-500 dark:text-gray-400 text-md">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
