---
import Picture from '~/components/core/Picture.astro';
---

<span class="w-32 h-10 md:w-32 md:h-10 md:-mt-0.5 bg-cover mr-1.5 float-left rounded-sm bg-[url(https://arepa.s3.amazonaws.com/anabelisam-logo.png)]"></span>